
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 1190px;
}

.style-none{
    list-style-type: none;
}
.text-none{
    text-decoration: none;
}
.locat-img{
    margin-right: 13px;
}
.locat-link{
    display: block;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #1A1A1A;
    margin-right: 100px;
}
.locat-link:last-child{
    margin-right: 0;
}
.header-top{
    padding:5px 90px;
    display: flex;
    justify-content: end;
}
.header-info{
    padding: 16px 0;
}
.header-inner{
    padding:0 90px 0 90px;
    background-color: #DF7C14;
}

.header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.span-home{
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-right: 7px;
}
.header-contact-link{
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 13px;
    line-height: 19px;
    color: #DC7000;
    width: 132px;
    height: 42px;
    padding: 11px 28px;
    display: block;
    margin-left: auto;
}
.home-link{
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section{
    background-color: #FDF6EE;
}
.hero-img:after{
    content: '';
    display: block;
    width: 675px ;
    height: 590px;
    background-image: url('../images/hero-img.png');
    background-position: cover;
    background-repeat: no-repeat;
}
.hero-digit-text{
    font-style: bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 155.2%;
    color: #E87D0E;
    margin-bottom: 17px;
}
.title{
    font-weight: 600;
    font-size: 25px;
    line-height: 187.5%;
    color: #222222;    
}
.hero-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 155.2%;
    color: #000000;
    width: 480px;
    margin-bottom: 26px;
}
.hero-text{
    margin-bottom: 50px;
    width: 527px;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #000000;  
}
.hero-link{
    background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
    border-radius: 40px;
    padding: 15px 31px;
}
.link{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.hero-inner{
    padding-top: 102px;
    margin-bottom: 106px;
}
.lorem-inner{
    padding-top: 83px;
}
.lorem-title{
    width: 826px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 49px;
}
.hero-info-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 187.5%;
    color: #222222;
    margin-bottom: 32px;
}
.hero-info-text{
    margin-bottom: 46px;
    width: 545px;
    font-size: 16px;
    line-height: 187.5%;
    color: #525252;
}
.text{
    width: 545px;
    font-size: 16px;
    line-height: 187.5%;
    color: #525252
}
.lorem-img{
    padding-top: 80px;
    background-image: url('../images/lorem-back.svg');
    background-position: right top;
    background-repeat: no-repeat;
}

.industry-inner{
    padding-top: 165px;
}
.industry-title{
    width: 826px;
    margin-bottom: 24px;
}
.industry-img-phone{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.industry-img{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.industry-text-inner{
    font-size: 16px;
    line-height: 187.5%;
    text-align: center;
    color: #525252;
    width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.industr-item{
    width: 250px;
    padding:15px 15px;
    margin-right: 45px;
}
.industr-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.industry-text{
    margin-bottom: 26px;
}

.loree{
    background-color: #F5F5F5;
}
.loree-inner{
    padding-top: 69px;
    padding-bottom: 100px;
}
.loree-text{
    margin-bottom: 65px;
}
.loree-text-inner{
    width: 300px;
    margin-bottom: 28px;
}
.loree-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 35px 35px;
    width: 378px;
    margin-right: 15px;
}
.loree-item:last-child{
    margin-right: 0;
}
.loree-title-red:before{
    content: '';
    display: block;
    width: 140px ;
    height: 39px;
    background-image: url('../images/loree-red.svg');
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 19px;

}
.loree-title-pink:before{
    content: '';
    display: block;
    width: 140px ;
    height: 39px;
    background-image: url('../images/loree-pink.svg');
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 19px;

}
.loree-title-blue:before{
    content: '';
    display: block;
    width: 140px ;
    height: 39px;
    background-image: url('../images/loree-blue.svg');
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 19px;

}
.loree-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 187.5%;
    color: #DC7000;
    margin-right: 12px;
}
.loree-div{
    display: flex;
    align-items: center;
    justify-content: end;
}
.arrow-link{
    display: block;
    display: flex;
    justify-content: flex-end;
}
.loree-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}